<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}

</head>
<body>
  {{>navbar}}

<!-- main header -->
    
<div class="container-fluid main_header">
  <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
              <!-- right sside div -->
              <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure class="errimg">
                    <img src="image/4042-pages.webp" alt="img" class="img-fluid" titlle="thapa techanical">
                </figure>
            <h1>{{errormsg}}</h1>
      
            <a href="/"><button >Go Back</button></a>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- footer code -->
<footer>
  <p style="font-family:'Courier New', Courier, monospace;">create with the Akash </p>
</footer>
</body>
</html>