<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}

</head>
<body>
  {{>navbar}}

<!-- main header -->
    
<div class="container-fluid main_header">
  <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">

              <!-- right sside div -->
              <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="image/about2.webp" alt="img" class="img-fluid" titlle="thapa techanical">

                </figure>
             </div>

          <!-- left sside div -->
          <div class="col-md-6 col-12 main_header_left">
            <p>welcome to the  weather app </p>
            <h1>I am a  <span class="text_clr"> Full stack-developer</span></h1> 
            <a href="https://jaiswar54321.github.io/Bharat-intern-tast-1-portfolio/"><button style="color:blue;">About me</button></a>
          </div>

           

        </div>
      </div>
  </div>
</div>
<!-- footer code -->
<footer>
  <p>create with the Akash </p>
</footer>
</body>
</html>